<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/entityAdd.css">
    <title>Add Lesson</title>
</head>
<body>

<th:block th:insert="/fragment/errorFragment::error"/>

<div class="left">

    <form action="/lessons/add" method="post" autocomplete="off">
        <label for="title">Title
            <input type="text" name="title" id="title" required>
        </label>
        <label for="duration">Duration
            <input type="number" name="duration" id="duration" required min="0">
        </label>
        <label for="price">Price
            <input type="number" name="price" id="price" required min="0">
        </label>
        <label for="startDate">Start Date
            <input type="date" name="startDate" id="startDate" required style="width: 12%">
        </label>
        <input type="submit" value="Add Lesson" class="sbm">
    </form>

</div>

<div class="add__div"><p class="add"><a href="/">Back To Home</a></p></div>

</body>
</html>