<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/entityAdd.css">
    <title>Add Lesson</title>
</head>
<body>

<div class="msg" th:if="${!msg.isEmpty()}"><p class="msg__p" th:text="${msg}"></p></div>

<div class="left">

    <form action="/lessons/add" method="post" autocomplete="off" enctype="multipart/form-data">
        <label for="title">Title
            <input type="text" name="title" id="title" required>
        </label>
        <label for="duration">Duration
            <input type="number" name="duration" id="duration" required min="0">
        </label>
        <label for="price">Price
            <input type="number" name="price" id="price" required min="0">
        </label>
        <label for="startingDate">Start Date
            <input type="date" name="startingDate" id="startingDate" required style="width: 12%">
        </label>
        <label for="teacherId">Teacher

            <select name="teacherId" id="teacherId" required>
                <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.name} + ' ' + ${teacher.surname}">
                </option>
            </select>

        </label>
        <input type="submit" value="Add Lesson" class="sbm">
    </form>

</div>

<div class="add__div"><p class="add"><a href="/">Back To Home</a></p></div>

</body>
</html>