<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/entityAdd.css">
    <title>Update Lesson</title>
</head>
<body>

<th:block th:insert="/fragment/errorFragment::errorDiv"/>

<div class="left">

    <form action="/lessons/update" method="post" autocomplete="off">
        <input type="hidden" name="id" th:value="${lesson.id}">
        <label for="title">Title
            <input type="text" name="title" id="title" th:value="${lesson.title}" required>
        </label>
        <label for="duration">Duration
            <input type="number" name="duration" id="duration" th:value="${lesson.duration}" required min="0">
        </label>
        <label for="price">Price
            <input type="number" name="price" id="price" th:value="${lesson.price}" required min="0">
        </label>
        <label for="startDate">Start Date
            <input type="date" name="startDate" id="startDate"
                   th:value="${#dates.format(lesson.startDate, 'yyyy-MM-dd')}" required
                   style="width: 12%">
        </label>
        <input type="submit" value="Update Lesson" class="sbm">
    </form>

</div>

<div class="add__div"><p class="add"><a href="/">Back To Home</a></p></div>

</body>
</html>