<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body>

<div class="title"><h1>Students - Teachers - Lessons</h1></div>
<div class="center">

    <a href="/students">
        <button th:if="${user.userType.name().equals('TEACHER')}">Students</button>
        <button th:if="${user.userType.name().equals('STUDENT')}">Classmates</button>
    </a>

    <div class="empty"></div>

    <a href="/teachers">
        <button class="for">Teachers</button>
    </a>

    <div class="empty"></div>

    <a href="/lessons">
        <button class="for">Lessons</button>
    </a>
</div>

<div class="out">

    <a href="/logout">
        <button>Logout</button>
    </a>

</div>


</body>
</html>