<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body>

<div class="title"><h1>Students - Teachers - Lessons</h1></div>
<div class="center">

    <a href="/students">
        <button>Students</button>
    </a>

    <div class="empty"></div>

    <a href="/teachers">
        <button class="for">Teachers</button>
    </a>

    <div class="empty"></div>

    <a href="/lessons">
        <button class="for">Lessons</button>
    </a>
</div>

</body>
</html>