<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/table.css">
    <title>Students</title>
</head>
<body>

<div class="left">
    <table>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Picture</th>
            <th>Lesson Name</th>
            <th th:if="${user.userType.name().equals('STUDENT')}" th:text="'Messages'"></th>
        </tr>

        <tr th:each="student : ${students}">

            <td th:text="${student.id}">
            </td>
            <td th:text="${student.name}">
            </td>
            <td th:text="${student.surname}">
            </td>
            <td th:text="${student.email}">
            </td>
            <td th:if="${student.picName != null}"><img th:src="'/downloadPic/' + ${student.picName}" alt="Student Img"
                                                        class="teacherImg">
            </td>
            <td th:if="${student.picName == null}">No Picture
            </td>
            <td th:if="${student.getLesson() != null}" th:text="${student.lesson.title}">
            </td>
            <td th:if="${student.getLesson() == null}">No Lesson
            </td>
            <td th:if="${user.userType.name().equals('STUDENT') && user.id != student.id}"><a
                    th:href="'/students/chat/' + ${student.id}">
                <button>Chat</button>
            </a>
            </td>

    </table>
</div>

<div class="add__div"><p class="add"><a href="/">Back To Home</a></p></div>

</body>
</html>