<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/entityAdd.css">
    <title>Update Student</title>
</head>
<body>

<div class="msg" th:if="${!msg.isEmpty()}"><p class="msg__p" th:text="${msg}"></p></div>

<div class="left">

    <form action="/students/update" method="post" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${student.id}">
        <label for="name">Name
            <input type="text" name="name" id="name" th:value="${student.name}" required>
        </label>
        <label for="surname">Surname
            <input type="text" name="surname" id="surname" th:value="${student.surname}" required>
        </label>
        <label for="email">Email
            <input type="email" name="email" id="email" th:value="${student.email}" required>
        </label>
        <label for="img">Picture
            <img th:if="${student.picName != null}" th:src="'/downloadPic/' + ${student.picName}" alt="No Image"
                 style="width: 90px;">
            <input type="file" name="picture" id="img">
        </label>
        <label for="lessonId">Lesson

            <select name="lessonId" id="lessonId" required>
                <option th:if="${student.lesson != null}" th:each="lesson : ${lessons}" th:value="${lesson.id}"
                        th:text="${lesson.title}"
                        th:selected="${lesson.id == student.lesson.id}">
                </option>
                <option th:if="${student.lesson == null}" th:each="lesson : ${lessons}" th:value="${lesson.id}"
                        th:text="${lesson.title}">
                </option>
            </select>

        </label>
        <input type="submit" value="Update Student" class="sbm">
    </form>

</div>

<div class="add__div"><p class="add"><a href="/">Back To Home</a></p></div>

</body>
</html>